



body{
  margin: 0;
}

h2 {
  margin: 0;
  margin-top: 50px;

}

h4{
margin: 0;
}

h5{
  float: right;
  margin: 0;
}

hr {
  width: 25%;
  margin: 20px 0 20px 0;

}

.top-menu{
  background-color: #7abb39;
  padding: 20px;
  border-bottom: inset 4px;
 border-bottom-color: #66a12a;
}

.title{
  color: #FFFFFF;
    margin: 0;
    float: left;
    margin-right: 550px;
    margin-left: 150px;

}

.btn-top{
    color: #FFFFFF;
    margin: 0 25px 0 25px;
    text-decoration: none;
    font-style: italic;
    background-color:  #66a12a;

    padding: 10px 20px 10px 20px;
    border-radius: 10%;

}

.btn-middle{
  color: #FFFFFF;

  text-decoration: none;
  font-style: italic;
  background-color:  #c02e24;
  padding: 10px 20px 10px 20px;
  border-radius: 10%;
}



.imgpral{
   margin-left:  50px;
  float: left;
  margin-right: 50px;
}


.middle {
   width: 50%;
   margin-left: 150px;

}

.ppral{
  margin: 0;
  line-height: 2;
  text-align: left;
  margin-bottom: 57px;

}

.middle-container{
  background-color: #f7f7f7;
   padding-left: 220px;
   height: 580px;
  position: relative;
}

.comentarios{
 position: absolute;
 width: 40%;
 left: 200px;


}


.icono_user {
  float: left;

  padding-right: 20px;
}

.middle-title{
  padding-bottom: 20px;

}

.middle-p{
  text-align: justify;
  padding-left: 70px;
  margin: 0;
}


.foto1{
  position: absolute;
  right: 900px;
  top: 50px;
}

.foto2{
  position: absolute;
  right: 660px;
  top: 50px;
}

.foto3{
  position: absolute;
  right: 1020px;
  top: 190px;
}

.foto4{
  position: absolute;
  right: 900px;
  top: 190px;
}

.foto5{
  position: absolute;
  right: 780px;
  top: 190px;
}

.foto6{
  position: absolute;
  right: 660px;
  top: 190px;
}


.foto7{
  position: absolute;
  right: 660px;
  top: 290px;
}

.foto8{
position: absolute;
top : 50px;
}

.middle-h{
  font-style: italic;
  padding-left: 300px;
}

.otros_enlaces{
margin-left: 200px;
position: relative;
padding-bottom: 10px;
}

.title-otros{
  padding-top: 150px;
  padding-left: 80px;
  margin-bottom: 0;
}

.otros_p {
margin: 0;
margin-left: 20px;
}


.title-otros2{
position: absolute;
left : 310px;
top : 175px;
}

.otros_p2 {
  position: absolute;
  left : 270px;
  top : 200px;
}

.foto9{
position: absolute;
top : 50px;
left: 240px;
}



.title-otros3{
position: absolute;
left : 555px;
top : 175px;
}

.otros_p3 {
  position: absolute;
  left : 510px;
  top : 200px;
}

.foto10{
position: absolute;
top : 50px;
left: 480px;
}


.title-otros4{
position: absolute;
left : 800px;
top : 175px;
}

.otros_p4{
  position: absolute;
  left : 750px;
  top : 200px;
}

.foto11{
position: absolute;
top : 50px;
left: 720px;
}


.hr_class{
  width:  13%;
  border-bottom: inset 2px;
}

.hr_class2{
  width:  13%;
  position: absolute;
  left: 245px;
  top  : 253px;
  border-bottom: inset 2px;
}

.hr_class3{
  width:  13%;
  position: absolute;
    left: 485px;
    top  : 253px;
    border-bottom: inset 2px;
}

.hr_class4{
  width:  13%;
  position: absolute;
    top  : 253px;
    left: 725px;
    border-bottom: inset 2px;
}


.footer{

  background-color: #272727;
  color: white;
  height: 280px;
  position: relative;
}

.lista{
   display: inline;
    padding-left:3px;
    padding-right:3px;
}

.title_footer{
  padding-top: 20px;
  margin: 0;
  padding-left: 65px;
  font-style: italic;
}

.textbox{
  margin-top: 10px;
  margin-left: 40px;
  width: 300px;
  height: 20px;
}

.button_footer{


padding: 5px  30px 5px 30px;
background-color: #7abb39;
color: white;
border: none;
}

.list_footer{
  position: absolute;
  top : 5px;
  right : 1100px;
  margin: 0;

}

.text_footer{
  margin: 0;
  font-style: italic;
}

.footer-p{
  background-color: #444444;
  color: white;
  text-align: center;
  padding: 20px 0 20px 0;
}
